/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f5f9f6; /* Soft green background */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
}

main {
  flex: 1; /* Permite que este contenedor crezca y empuje el footer hacia abajo */
  padding: 40px 20px;
}

#redireccionSesion {
  background-color: #00796b; /* Teal green */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#redireccionSesion:hover {
  background-color: #004d40; /* Darker green */
}

#div_default {
  display: flex;
  justify-content: center;
}

.card_default {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #e8f5e9;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  padding: 5px;
}

#img_logo {
  width: 90%; /* Ancho máximo igual al ancho del contenedor */
  height: auto; 
  object-fit: contain; /* Se asegura de que la imagen se vea completamente dentro del contenedor */

  padding: 5px;
}

.card-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title_img{
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.container-xxl.card{
  padding: 0px 0px;
}

.card-header{
  background: #00796b !important;
  color: white !important;
  text-align: center;
}

.form-datosPersonales{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-gap: 35px 20px;
}

.form-estudios{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 20px;
}

.form-nacimiento{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-gap: 20px 20px;
}

.form-responsable{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 20px;
}