/* General Styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el cuerpo tenga al menos el alto de la ventana */
  margin: 0;
}

main {
  flex: 1; /* Hace que este contenedor crezca para empujar el footer hacia abajo */
}

/* Main Styles */
.image-gallery {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.image-gallery div img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-us,
.additional-info {
  background-color: #e8f5e9; /* Soft green section background */
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
}

.about-us h2,
.why-us h2 {
  color: #2e7d32; /* Forest green */
}

.about-us p,
.why-us p {
  line-height: 1.6;
}

/* Estilos para el formulario */
form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff; /* Fondo blanco */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form h1 {
  text-align: center;
  color: #2e7d32; /* Verde bosque */
  margin-bottom: 20px;
}

.field {
  margin-bottom: 20px;
}

.field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #004d40; /* Verde oscuro */
}

.field input[type="text"],
.field input[type="email"],
.field textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.field input[type="text"]:focus,
.field input[type="email"]:focus,
.field textarea:focus {
  border-color: #2e7d32; /* Verde bosque */
  outline: none;
}

#button {
  background-color: #00796b; /* Verde teal */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s;
}

#button:hover {
  background-color: #004d40; /* Verde más oscuro */
}
