/* Header Styles */
header {
    background-color: #004d40;
}

#menu{
    background-color: #004d40 !important;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.navbar{
    background-color: #004d40 !important;
}

.logo img {
    height: 90px;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #f2f8f8;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #f2f8f8a0;
    /* Light green */
}

.navbar-collapse {
    gap: 60px;
}

/* User Greeting and Logout */
.user-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#userGreeting{
    color: #f2f8f8;
}

#logoutButton {
    background-color: #00796b;
    /* Teal green */
    color: #f2f8f8;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#logoutButton:hover {
    /*background-color: #004d40;*/
    background-color: #00796bb8;

    /* Darker green */
}

/* Footer Styles */
footer {
    background-color: #004d40;
    /* Dark green */
    color: #f2f8f8;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.address,
.company,
.social-media {
    margin-bottom: 20px;
    flex: 1 1 30%;
}

.icons span {
    margin-right: 10px;
}

.icons a {
    color: #f2f8f8;
    text-decoration: none;
    font-size: 20px;
}

.icons a:hover {
    color: #11B5E4;
    /* Light green */
}

/* Responsive Design */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}

footer .company a {
    color: inherit;
    /* Usa el color del texto del contenedor padre */
    text-decoration: none;
    /* Elimina el subrayado */
    cursor: default;
    /* Cambia el cursor al de texto normal */
}